// * table 表格页面样式
.curd-table {
  background-color: var(--content-background);
  padding: 10px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .refresh {
    animation: refresh 0.5s linear infinite;
  }
  @keyframes refresh {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
.table-box,
.table-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 12px;

  // table-search 表格搜索样式
  .table-search {
    padding: 18px 18px 0;
    display: flex;
    align-items: end;
    .el-form {
      flex: 1;
      .el-form-item {
        margin-bottom: 12px;
      }
      .el-form-item__content > * {
        width: 100%;
      }

      // 去除时间选择器上下 padding
      .el-range-editor.el-input__wrapper {
        padding: 0 10px;
      }
    }
    .operation {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 12px;
      margin-left: 10px;
    }
  }
  // 表格 header 样式
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    .header-lf,
    .header-ri {
      flex: 1;
    }
    .header-lf {
      max-width: 100%;
    }
    .header-ri {
      text-align: right;
      .ri-icon {
        font-size: 20px;
        cursor: pointer;
        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }

  // el-table 表格样式
  .el-table {
    flex: 1;

    table {
      width: 100%;
    }
    .el-table__header th {
      height: 45px;
      font-size: 15px;
      font-weight: bold;
      color: var(--el-text-color-primary);
      background: var(--el-fill-color-light);
    }
    .el-table__row {
      height: 45px;
      font-size: 14px;
      .el-table__placeholder {
        display: inline;
      }
    }

    .el-table__header .el-table__cell > .cell {
      white-space: nowrap;
    }

    .el-table__empty-block {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .table-empty {
        line-height: 30px;
      }
    }

    .table-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  .el-pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}
