@charset "utf-8";
@import './var.scss';
:root {
  --el-bg-color: var(--background);
  --el-color-primary: var(--color-primary);
  --el-color-warning: var(--color-warning);
  --el-color-success: var(--color-success);
  --el-color-danger: var(--color-danger);
}
html.dark {
  --el-bg-color: var(--background);
  --el-color-primary: var(--color-primary);
  --el-color-warning: var(--color-warning);
}
