@charset "utf-8";
@import './element.scss';
$font_default_size: 14px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  text-size-adjust: none;
  background-color: var(--background);
}

a,
.a {
  text-decoration: none;
  color: #409eff;
}

ul {
  list-style: none;
}

// .el-table--enable-row-hover .el-table__body tr:hover>td {
//     background-color: background-color-theme1();
// }

.el-button--success,
.el-button--warning,
.el-button--primary {
  color: #fff !important;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 隐藏横向滚动条 */
.el-scrollbar__wrap {
  overflow-x: hidden !important;
}

/* element滚动条样式 */
// .el-scrollbar__bar {
//     position: absolute;
//     right: 2px;
//     bottom: 2px;
//     z-index: 1;
//     border-radius: 4px;
//     opacity: 1;
//     -webkit-transition: opacity 120ms ease-out;
//     transition: opacity 120ms ease-out;
// }

#content {
  width: 100%;
  position: absolute;
  bottom: 0;
  overflow-x: auto;
}

.width {
  width: 100%;
}

/*竖向居中*/
.table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.middle {
  vertical-align: middle;
}

/*弹性盒*/
.flex {
  display: inline-flex;
  display: -webkit-flex;
  display: flex;
}

/*弹性盒-子元素可竖向居中*/
.flex-middle {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear::after {
  /*原理： overflow!=visible ;display!=block;float!=none;position!=static||relative 都可为元素创建BFC；消除边距重叠或者浮动产生的影响*/
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*  字体颜色*/

.color_warning {
  cursor: pointer;
  color: #f6726c !important;
}

.color_warning :hover {
  color: #f6726c;
}

.color_green {
  color: #3bca3b !important;
}

.color_green:hover {
  color: #1ee81e;
}
.pointer {
  cursor: pointer;
}
// table
.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
}

.table thead tr td,
.table thead tr th {
  text-align: center;
  word-break: break-all;
}

.table tr td,
.table tr th {
  box-sizing: border-box;
  // text-align: center;
  height: 34px;
  padding: 12px 0;
  border: 1px solid transparent;
  font-size: 14px;
  word-break: break-all;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(144, 147, 153, 0.5);
  border-radius: 4px;
  transition: all 0.5s;
}
.color_warning {
  cursor: pointer;
  color: #f6726c !important;
}

.color_warning :hover {
  color: #f6726c;
}

/* 离开 */
.slide-fade-X-leave-to {
  opacity: 0;
  transform: scale(0);
  transform: translateX(50px);
}
/* 进入 */
.slide-fade-X-enter-from {
  opacity: 0;
  transform: scale(1);
  transform: translateX(-50px);
}
/* 离开 */
.slide-fade-Y-leave-to {
  opacity: 0;
  transform: scale(0);
  transform: translateY(50px);
}
/* 进入 */
.slide-fade-Y-enter-from {
  opacity: 0;
  transform: scale(1);
  transform: translateY(-50px);
}
