@charset "utf-8";
@import "./variables.scss";

// 字体颜色 使用 @include() 不穿参数填写null
@mixin font_color($color) {

    /*通过该函数设置字体颜色，后期方便统一管理；*/
    @if $color {
        color: $color;
    }

    @else {
        [data-theme="theme1"] & {
            color: $font-color-theme1;
        }

        [data-theme="theme2"] & {
            color: $font-color-theme2;
        }

        [data-theme="theme3"] & {
            color: $font-color-theme3;
        }

        [data-theme="theme4"] & {
            color: $font-color-theme4;
        }

        [data-theme="theme5"] & {
            color: $font-color-theme5;
        }
    }
}

//基础背景
@mixin base-background() {
    [data-theme="theme1"] & {
        background-color: background-color-theme1();
    }

    [data-theme="theme2"] & {
        background-color: background-color-theme2();
    }

    [data-theme="theme3"] & {
        background-color: background-color-theme3();
    }

    [data-theme="theme4"] & {
        background-color: background-color-theme4();
    }

    [data-theme="theme5"] & {
        background-color: background-color-theme5();
    }
}
// 斑马纹
@mixin striped-background() {
    [data-theme="theme1"] & {
        background-color: background-color-theme1(hsl(242,46%,21.0%));
    }

    [data-theme="theme2"] & {
        background-color: background-color-theme2();
    }

    [data-theme="theme3"] & {
        background-color: background-color-theme3();
    }

    [data-theme="theme4"] & {
        background-color: background-color-theme4();
    }

    [data-theme="theme5"] & {
        background-color: background-color-theme5();
    }
}
// tool-bar
@mixin tool-bar-color() {
    [data-theme="theme1"] & {
        background-color: $tool-bar-background1;
    }

    [data-theme="theme2"] & {
        background-color: $tool-bar-background2;
    }

    [data-theme="theme3"] & {
        background-color: $tool-bar-background3;
    }

    [data-theme="theme4"] & {
        background-color: $tool-bar-background4;
    }
    [data-theme="theme5"] & {
        background-color: $tool-bar-background5;
    }
}

// boder
@mixin border-color() {
    [data-theme="theme1"] & {
        border-color: $border-color-theme1;
    }

    [data-theme="theme2"] & {
        border-color: $border-color-theme2;
    }

    [data-theme="theme3"] & {
        border-color: $border-color-theme3;
    }

    [data-theme="theme4"] & {
        border-color: $border-color-theme4;
    }
    [data-theme="theme5"] & {
        border-color: $border-color-theme5;
    }
}

// box-shadow
@mixin box-shadow($lightness:40px) {
    [data-theme="theme1"] & {
        box-shadow: box-shadow-theme1($lightness);
    }

    [data-theme="theme2"] & {
        box-shadow: $box-shadow-theme2 !important;
    }

    [data-theme="theme3"] & {
        box-shadow: $box-shadow-theme3 !important;
    }

    [data-theme="theme4"] & {
        box-shadow: box-shadow-theme4($lightness);
    }
    [data-theme="theme5"] & {
        box-shadow: $box-shadow-theme5 !important;
    }

}

// 内容区域背景颜色
@mixin content-background() {
    [data-theme="theme1"] & {
        background-color: $content-background1;
    }

    [data-theme="theme2"] & {
        background-color: $content-background2;
    }

    [data-theme="theme3"] & {
        background-color: $content-background3;
    }

    [data-theme="theme4"] & {
        background-color: $content-background4;
    }
    [data-theme="theme5"] & {
        background-color: $content-background5;
    }
}

// 特殊方块背景颜色（厂站，线路检测）
@mixin sec-content-background {
    [data-theme="theme1"] & {
        background-color: $sec-content-background1;
    }

    [data-theme="theme2"] & {
        background-color: $sec-content-background2;
    }

    [data-theme="theme3"] & {
        background-color: $sec-content-background3;
    }

    [data-theme="theme4"] & {
        background-color: $sec-content-background4;
    }
    [data-theme="theme5"] & {
        background-color: $sec-content-background5;
    }
}

// 渐变色字体
@mixin linear-color {
    [data-theme="theme1"] & {
        background-image: -webkit-linear-gradient(top,
                #bf74b7 20%,
                #1ca3db 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    [data-theme="theme2"] & {
        background-image: -webkit-linear-gradient(top,
                #222831 20%,
                #30475e 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    [data-theme="theme3"] & {
        background-image: -webkit-linear-gradient(top,
                #222831 20%,
                #30475e 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    [data-theme="theme4"] & {
        background-image: -webkit-linear-gradient(top,
                #9d899b 20%,
                #81949c  60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    [data-theme="theme5"] & {
        background-image: -webkit-linear-gradient(top,
            #222831 20%,
            #30475e 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

// 特殊字体颜色 
@mixin sec-font-color {
    [data-theme="theme1"] & {
        color: $sec-font-color-theme1;
    }

    [data-theme="theme2"] & {
        color: $sec-font-color-theme2;
    }

    [data-theme="theme3"] & {
        color: $sec-font-color-theme3;
    }

    [data-theme="theme4"] & {
        color: $sec-font-color-theme4;
    }
    [data-theme="theme5"] & {
        color: $sec-font-color-theme5;
    }
}

// 菜单hotp颜色
@mixin header-background {
    [data-theme="theme1"] & {
        background: #272451;
    }

    [data-theme="theme2"] & {
        background: #0e9b92;
    }

    [data-theme="theme3"] & {
        background: #275050;
    }

    [data-theme="theme4"] & {
        background: #191919;
    }

    [data-theme="theme5"] & {
        background: #304155;
    }
}
@mixin header-active-background {
    [data-theme="theme1"] & {
        background: #2b2858 !important;
    }

    [data-theme="theme2"] & {
        background: #0fa59b !important;
    }

    [data-theme="theme3"] & {
        background: #316161 !important;
    }

    [data-theme="theme4"] & {
        background: #202020 !important;
    }
}