html {
  --color-primary: #0fa59b;
  --color-warning: #e6a23c;
  --color-success: #67c23a;
  --color-danger: #f56c6c;
  --background: #f0f2f5;
  --content-background: #fff;
  --font-color: #1a1919;
}
[class='blue'] {
  --color-primary: #623bff;
  --color-success: #00a870;
  --color-warning: #ed7b2f;
  --color-danger: #e34d59;
  --background: #f0f2f5;
  --content-background: #fff;
  --font-color: #1a1919;
}
[class='dark'] {
  --color-primary: #0052D9;
  --background: #2a2c2c;
  --content-background: #242525;
}
